{% extends "Kinda_Cloudy/base.html" %}
{% load staticfiles %}
{% block side %}


{% endblock %}
{% block menu %}
<div id="nav">
    <ul>
        <a href="/">Inicio</a>
        <a href="/museos">Todos</a>
        <a href="/about">About</a>
    </ul>
</div>
<style>
    .oculto{
        display: none;
    }
</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
{% endblock %}

{% block main %}
<div class="main">
    <div class="letra">
        <h2>Vídeo parte obligatoria</h2>
    </div>
    <button id="boton">Vídeo</button>
    <div id="video" class="oculto">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/7Z-qfCwQpQE" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </div>
    <script>
        $("#boton").click(function() {
            $("#video").toggleClass("oculto")
        });
    </script>
{% endblock %}
